body {
    width: 100%;
    height: 100%;
    margin: 0;
}
#first {
    background-color: #cccccc;
    width: 100%;
    height: 100%;
}
.telo {
    padding: 10px 10.43% 10px 10.43%;
}
nav {
    text-transform: uppercase;
    line-height: 72px;
    color: white;
    background-color: #313030;
    text-align: center;
    vertical-align: middle;

}
.menu {
    margin: 5px;
    font-family: "Comic Sans MS" ;
    padding: 26px 20px 27px 20px;
    text-decoration: none;
    color: white;
    user-select: none;
    outline: none;
    transition: 0.4s;
}
.menu:hover {
    background-color:#4F4F4F;
    padding: 27px 21px 28px 21px;
}
#red:hover {
    background-color: #ff2640;
}
#red {
    background-color: #ff3f40;
}
#vid {
    box-shadow: 5px 5px 5px gray;
    float: right;
}
#knopka1 {
    color: white;
    padding: 8px 24px 8px 24px;
    border-radius: 3px;
    background-color: #ff2d2d;
    user-select: none;
    outline: none;
    border: 0px;
    transition: 0.3s;
}
#knopka1:hover {
    background-color: #ff2626;
    padding: 9px 26px 9px 26px;
}
#knopka2 {
    border: 1px;
    color: #fa4343;
    background-color: white;
    border-color: #fa4343;
    border-radius: 3px;
    padding: 8px 24px 8px 24px;
    transition: 0.3s;
    border-style: solid;
}
#knopka2:hover {
    border-color:#ff2626;
    padding: 9px 26px 9px 26px;
}
#posit {
    line-height: 100px;
}
.tex {
    font-family: "Sagoe UI Heavy";
    font-weight: 900;
    text-transform: uppercase;
}
.tex2 {
    font-family: SCRIPT;
    color: #363636;
}
.poz1{
    float: left;
    margin: 4% 5% 0% 0%;
}
#www {
    font-size: small;
    float: left;
    margin: 7% 6% 7% 0%;
}
#ww {
    font-size: small;
    display: block;
    margin: 9% 0% 7% 0%;
}
#qwqw {
    text-align: center;
}
.redline {
    width: 130px;
}
.menu2 {
    padding: 8px 24px 8px 24px;
    transition: 0.3s;
    margin: 5px;
    font-family: "Comic Sans MS";
    user-select: none;
    outline: none;
    text-decoration: none;
    color: #4c4c4c;
    transition: 0.5s;
    border: 1px;
    border-style: solid;
    border-color: white;
}
.menu2:hover {
    border-color: red;
    border-radius: 3px;
}
#bgmenu {
    line-height: 40px;
    text-align: center;
}
#left {
    position: relative;
    right: 43.5%;
}
#col {
    float: left;
    margin: 0px 8px 0px 0px;
}
.telo2 {
    padding: 10px 8.75% 10px 8.75%;
}
.tex3{
    font-size: small;
    color: #4c4c4c;
}
#ww2 {
    padding: 0% 0% 5% 0%;
}
#www2 {
    padding: 0% 0% 23% 0%;
}
#poz {
    padding: 10px 10.43% 10px 10.43%;
}
.line {
    display: inline;
}
#pricol {
    background-color: #f5f0dd;
    text-align: center;
}
footer {
    background-color: #313030;
    padding: 20px;
}
#sotset {
    padding: 20px 50px 20px 0px;
}
#sotset a {
    padding: 10px 10px 10px 0px;
    transition: 0.3s;
    text-decoration: none;
    color: gray;
}
#sz {
    margin: 0px 0px 10px 0px;
}
